# 忽略以下文件夹
straight/
transient/
tree-sitter/
elpa/
quelpa/
etc/
var/
.cache/
/recentf
/Makefile
/tabsession.el
/abbrev_defs
/org-protocol.reg
/test-startup.sh
/.project
/org-persist
/org-persist/gc-lock.eld
emacs-libvterm/
nov-places


